.userEmail {
  width: 100%;
  font-size: 14px;
}
@media screen and (max-width: 500px) {
  .userEmail {
   font-size: small;
  }
}
.selectDiv{
  min-width: 200px;
display: flex;
z-index:3;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
}
.navbar {
  background-color: #4470b6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.navbar__brand {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: medium;
  margin: 10px;
  
}
@media screen and (max-width: 510px) {
    .navbar__brand {
      width: 35%;
      
    }
}

.navbar__logo {
  width: 200px;
  margin-right: 10px;
}

@media screen and (max-width: 710px) {
  .navbar__logo {
    width: 150px;
  }
}

.navbar__voice-select {
  /* width: 70%; */
  font-size: medium;
  margin-right: 10px;
  color: #fefefa;
  display: flex;
justify-content: flex-end;
align-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .navbar__voice-select {
    font-size: small;
    flex-direction:  column-reverse;
    align-items: flex-start;
    margin-left: 10%;
    width: 40%;
    margin-right: 30px;
    text-align-last: center;
  }
}
.titleSelect {
  margin-right: 1%;
  width: 50%;
}
.selectOption{
  background-color: transparent;
  
}
/* .optionSelected::before{
  background-color: red;
} */

/* .form-select {
  background-color: #e8eaed;
  color: #446fb6;
  text-transform: capitalize;
  font-weight: 400;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
} */

.div_ico_voz {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.icono_voz {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.btn_out {
  cursor: pointer;
  color: #fff;
  background-color: #446fb6;
  border: none;
  width: 30px;
  height: 30px;
}

.ico_out {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-top: -7px;
}
@media screen and (max-width: 510px) {
  .ico_out {
    width: 15px;
    margin: 0px;
  }
}
.navbar__voice-select::after {
  font-size: medium;
  margin-left: 100px;
  /* Espacio entre el texto y la flecha, ajusta según sea necesario */
  color: #446fb6;
}

/* .form-select {
  max-width: 200px;
  --bs-form-select-bg-img: url(../../assets/flecha.png);
  background-size: 18px
} */

/* background-image: url(); */

/* Nuevo select */