@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary-500: #3fb5e4;
  --color-primary-600: #446fb6;
  --color-primary-900: #F57F17;
  --color-secondary-500: #ffff;
  --color-secondary-900: #ffff;
  --font-primary: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-secondary-500);
  font-family: var(--font-primary);
}
