/* @import  url(../../assets/fondoIA.jpg)  */

.contenedor {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
/* background-image: url(../../assets/fondo.png); */
}


@media screen and (max-width: 710px) {
  .contenedor {
    flex-direction: column;
    width: 100%;
  }
}
.BrainImg{
width: 40%;
height: 40%;
max-width: 300px;
}
@media screen and (max-width: 710px) {
  .BrainImg {
    width: 20%;
height: 20%;
margin-bottom: 20px;
  }
}

.sub_contenedor{
  display: flex;
  width: 100%;
height: 100%;
align-items: center;
}
.sub_contenedor2{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 710px) {
  .sub_contenedor2 {
    margin-top: 5%;
  }
}
.btnReset{
  display: flex;
                width: 30%;
                height: auto;
                margin: 10px;
                border-radius: 5px;
                justify-content:center
}
@media screen and (max-width: 710px) {
  .btnReset {
    width: auto;
    max-height: 10%;
    margin: 0px;
    /* padding: 10px; */
  }
}


.trasnscription_cont {
  width: 60%;
  height: 100%;
  display: flex;
}

@media screen and (max-width: 710px) {
  .trasnscription_cont {
    width: 95%;
    margin-left:10px;
  }
}
.wave{
  width: 90%;
}

.btn_transcript{
  margin-top: 10px;
  height: 90%;
  width: 25px;
  background-color: transparent ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 5px;
  &:hover{
    background-color: #5ce1e61b;
  }
}

.arrow{
  color: #4470b6b7;
  display: none;
  width: 30px;
  height: 40px;

  
}
@media screen and (max-width: 710px) {
  .arrow {
    transform: rotate(90deg);
    display: flex;
    }
}
@media screen and (max-width: 710px) {
  .btn_transcript:hover .arrow {
    display: flex
  }
}
.btn_transcript:hover .arrow {
  display: block;
}
@media screen and (max-width: 710px) {
  .btn_transcript {
    margin-left: 15px;
    height: 20px;
    width: 30%;
    background-color: #5ce1e649;
    margin-bottom: 10px;
  }
}

.content_transcrip{
  display: flex;
  flex-direction: row;
width: 100%;
height: 100%;

}

@media screen and (max-width: 710px) {
  .content_transcrip {
    flex-direction: column;
    align-items: center;
  }
}

.waveStyle{
  height: 90px;
  width: 300px;
  margin-bottom: 30px;
}
.loadercontainer{
  margin-top: 30px; 
display: flex;
justify-content: center;
}
.loaderAudio {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}
.loaderAudio::before {
  content: '';  
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}
.loaderAudio::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px #4470b6(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px #3fb5e4, 24px 24px #3fb5e4, 24px 48px #3fb5e4, 0px 48px #3fb5e4;
  }
  12% {
    box-shadow: 0 24px white, 24px 24px #3fb5e4, 24px 48px #3fb5e4, 0px 48px #3fb5e4;
  }
  25% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px #3fb5e4, 0px 48px #3fb5e4;
  }
  37% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px #3fb5e4;
  }
  50% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
  }
  62% {
    box-shadow: 0 24px #3fb5e4, 24px 24px white, 24px 48px white, 0px 48px white;
  }
  75% {
    box-shadow: 0 24px #3fb5e4, 24px 24px #3fb5e4, 24px 48px white, 0px 48px white;
  }
  87% {
    box-shadow: 0 24px #3fb5e4, 24px 24px #3fb5e4, 24px 48px #3fb5e4, 0px 48px white;
  }
  100% {
    box-shadow: 0 24px #3fb5e4, 24px 24px #3fb5e4, 24px 48px #3fb5e4, 0px 48px rgba#3fb5e4;
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}